body{
    background-color: rgb(0,0,0);
    font-family: times new roman;
    height: 100vh;
}
.pile{
    margin: auto;
    left: 13px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    
}
.wor{
    text-align: center;
    font-weight: bold;
    color: white;
}
.bliss{
    color: white;
    width: 380px;
    height: 750px;
    background-color: rgb(0,0,102);
    padding: 3%;
    position: relative; 
    top: 10px;
    left: 55px;
    right: 10px;
    bottom: 10px;
    style: opacity(0.7);
    opacity: 0.96;
    overflow: scroll;
    
} 
.name{
    color: white;
    padding-top: 15px;
    padding-left: 13px;
    
}
.int{
    display: inline-block;
    margin-left: 12px;
    width: 329px;
    border-radius: 3px;
}
.eml{
    color: white;
    padding-top: 15px;
    padding-left: 13px;
}
.age{
    color: white;
    padding-top: 15px;
    padding-left: 13px;
}
.question{
    color: white;
}
.def{
    color: white;
}
.may{
        color: white;
}
.nev{
    color: white;
}
.radios{
    padding-left:13px
}
.i{
    margin-left: 12px;
    width: 329px;
    border-radius: 3px;
    display: inline-block;
}
.div2{
    color: white;
}
.int2{
    width:329px;
    height:90px;
    padding-top: 15px;
    padding-left: 13px;
}
.ply{
    text-align: center;
    padding-right: 20px;
    padding-left: 13px;    
    background-color: rgb(0,204,0);
    height:20px;
}